html {
   scroll-behavior: smooth;
}

a {
   text-decoration: none;
}

#loader {
   background: black url(/images/loader.gif) no-repeat center center;
   height: 100vh;
   width: 100%;
   position: fixed;
   z-index: 100;
}

/* Navbar */

#navbar {
   position: sticky;
   background: rgb(17, 17, 17);
   height: 8vh;
   top: 0;
   display: flex;
   align-items: center;
   z-index: 1000;
}

#navbar_logo {
   margin: 0;
   color: gold;
   margin-left: 2vw;
   font-size: 1.5vw;
   font-weight: bold;
}

#navbar_logo:after {
   content: "";
   position: absolute;
   background-color: gold;
   height: 3px;
   width: 0;
   left: 0;
   bottom: -0px;
   transition: 1s;
}

#navbar_logo:hover:after {
   width: 100%;
}

#navbar_sklep {
   transform: translateX(10vw);
}

#navbar_faq {
   transform: translateX(13vw);
}

.navbar_btn {
   color: rgb(174, 174, 174);
   font-size: 1vw;
   font-weight: bold;
   letter-spacing: 0.5px;
}

.navbar_btn:hover {
   color: white;
}

.navbar_btn:after {
   content: "";
   position: absolute;
   background-color: gold;
   height: 2px;
   width: 0;
   left: 0;
   bottom: -8px;
   transition: 0.3s;
}

.navbar_btn:hover:after {
   width: 100%;
}

#contact {
   color: rgb(174, 174, 174);
   font-size: 1vw;
   font-weight: bold;
   letter-spacing: 0.5px;
   position: absolute;
   right: 0;
   margin-right: 2vw;
}