@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
   background: url(/images/background_1.png) fixed;
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   user-select: none;
   overflow: hidden;
   background-size: 100vw 100vh;
   background-repeat: no-repeat;
}

/* Center section */

#center_section {
   margin-top: 20vh;
   margin-left: 6vw;
}

#center_main {
   color: gold;
   font-size: 3vw;

   animation: opacity 3s ease-in-out;
}

#center_second {
   color: white;
   font-size: 1.1vw;
   transform: translate(0.2vw ,-2vh);
   opacity: 0%;

   animation: opacity 3s ease-in-out forwards;
   animation-delay: 1s;
}

@keyframes opacity {
  from{
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

/* Neon button */

:root {
   --clr-neon: gold;
   --clr-bg: hsl(323 21% 16%);
 }
 
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 .neon-button {
   font-size: 2.5rem;
 
   display: inline-block;
   cursor: pointer;
   text-decoration: none;
   color: var(--clr-neon);
   border: var(--clr-neon) 0.125em solid;
   padding: 0.25em 1em;
   border-radius: 0.25em;
 
   text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
 
   box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
 
   position: relative;
   opacity: 0%;
   animation: opacity 3s ease-in-out forwards;
   animation-delay: 1s;
 }
 
 .neon-button::before {
   pointer-events: none;
   content: "";
   position: absolute;
   background: var(--clr-neon);
   top: 120%;
   left: 0;
   width: 100%;
   height: 100%;
 
   transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
   filter: blur(1em);
   opacity: 0.7;
 }
 
 .neon-button::after {
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   box-shadow: 0 0 2em 0.5em var(--clr-neon);
   opacity: 0;
   background-color: var(--clr-neon);
   z-index: -1;
   transition: opacity 100ms linear;
 }
 
 .neon-button:hover,
 .neon-button:focus {
   color: var(--clr-bg);
   text-shadow: none;
 }
 
 .neon-button:hover::before,
 .neon-button:focus::before {
   opacity: 1;
 }
 .neon-button:hover::after,
 .neon-button:focus::after {
   opacity: 1;
 }

/* Faq */

#faq_text {
  color: gold;
  margin-top: 100vh;
  text-align: center;
  font-size: 3vw;
}

.faq_text_2 {
  color: gold;
  font-size: 1.5vw;
  text-align: center;
  text-shadow: 3px 3px 5px black;
}

.faq_text_3 {
  color: white;
  font-size: 1.1vw;
  text-align: center;
  text-shadow: 3px 3px 5px black;
}

#bottom {
  height: 8vh;
  bottom: 0;
  position: relative;
  background: rgb(17, 17, 17);
  margin-top: 45vh;
  display: flex;
  align-items: center;
  place-content: center;
}

#bottom_text {
  color: gray;
}